/**********************************************
 *	Filename:	settings.css
 *	Author:		Cristian Patrasciuc
 *	Email:		cristian.patrasciuc@gmail.com
 *	Date:		29-June-2007
 **********************************************/

body {
	width: 380px;
	height: 350px;
}

label, table, td, tr, strong {
	font-family: Tahoma;
	font-size: 12px;
	vertical-align: top;
}

a {
	color: #0000FF;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

hr { margin-top: 30px; }

input, select { width: 200px; }

#preview {
	border: solid 1px;
	height: 120px;
	text-align: center;
}

#preview img { 
	margin-left: auto; 
	margin-top: 10px; 
}

#errorMessage {
	color: #FF0000;
	margin-left: 5px;
}
